body {
    background-color: rgb(193, 193, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #dc0f83 ;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #dc0f83 ;
    margin-top: 30px;
    margin-bottom: 20px
}

.container {
    border: 3px solid rgb(21, 20, 21);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    font-size: large;
    color: #dc0f83;
    font-weight: bold;
    display: block;
}

.calc-btn {
    display: block;
    margin-top: 15px;
    border: 2px solid;
    border-radius: 15px;
    width: 5rem;
    background-color: white;
    cursor: pointer;
}

.calc-btn:hover {
    background-color: rgb(195, 150, 189);
}

select {
    border: 2px solid;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.select-error {
    border: 2px solid #ff0000;
}